<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-color: #202124;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
        }
        .button {
            padding: 10px 20px;
            background-color: #0074D9;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <button class="button" onclick="redirectToPageProdutos()">Produtos</button>
        <button class="button" onclick="redirectToPageUsuarios()">Usuários</button>
        <button class="button" onclick="redirectToPageLogin()">Login</button>
        <button class="button" onclick="logout()">Logout</button>
        <button class="button" onclick="redirectToPageClientes()">Clientes</button>
    </div>
    <script>
        function redirectToPageProdutos() {
            // Redirect to another page (e.g., "page1.html")
            window.location.href = "/produtos";
        }

        function redirectToPageUsuarios() {
            // Redirect to another page (e.g., "page1.html")
            window.location.href = "/usuarios";
        }

        function redirectToPageLogin() {
            // Redirect to another page (e.g., "page1.html")
            window.location.href = "/login";
        }

        function logout(){
            const url = '/logout'; // Replace with your actual logout URL
            alert("Logged out!");
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                }
            })
            

        }

        function redirectToPageClientes() {
            // Redirect to another page (e.g., "page2.html")
            window.location.href = "/clientes";
        }
    </script>
</body>
</html>
