doctype html
html(lang="pt-br")
    head
        title Produtos
        style.
            body{
                background-color: #202124;
                color: white;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            th {
                background-color: #0074D9;
            }

    body
        h1 Lista de produtos
        table(border=1)
            tr
                th Nome 
                th Descrição
                th Preço
                th Data

            each item in listaProdutos
                tr
                    td= item.nome 
                    td= item.descricao 
                    td= item.preco
                    td= item.data_atualizado
