doctype html
html(lang="pt-br")
    head
        title Usuários
        style.
            body{
                background-color: #202124;
                color: white;
            }
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            th {
                background-color: #0074D9;
            }

    body
        h1 Lista de usuários
        table(border=1)
            tr
                th Id 
                th Usuário
                th Senha
                th Token

            each item in listaUsuarios
                tr
                    td= item.id 
                    td= item.usuario 
                    td= item.senha
                    td= item.token
